.map-container
  #map
  .overlay-drawer
%script{:src => "/url.min.js", :type => "text/javascript"}
%script{:src => "/apartments.js", :type => "text/javascript"}
%script{:src => "/application.js", :type => "text/javascript"}
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDdAmc04JFSoxOS53F7uvNpn2IblAvypyI&callback=initMap"}
